<p><span class = "tekstmedbaggrund">Navn: {{navn}}</span></p><br>
<p><span class = "tekstmedbaggrund">Dato: {{dato}}</span></p><br>
<p><span class = "tekstmedbaggrund">Sluttidspunkt: {{sluttid}}</span></p><br>
<p><span class="nextline">Beskrivelse: {{beskrivelse}}</span></p><br>
<p>Logbog: </p>
<table>
    <tr>
        <th>Logbogspost</th>
        <th>Forfatter</th>
    </tr>
    {{#each logbog}}
        <tr>
            <th>{{entry}}</th>
            <th>{{by}}</th>
        </tr>
    {{/each}}
</table>
<p><span class = "tekstmedbaggrund">Afvikler: {{afvikler}}</span></p><br>