
<li>
<span class = "tekstmedbaggrund">
    <p><h1> {{fornavn}} {{efternavn}}
</h1><b>Tlf:</b> {{telefonnummer}}
        <b>Brugernavn:</b> {{brugernavn}} <b>Email:</b> {{email}} <b>Fraværsprocent:</b> {{fravær}} </p>
</span>
</li>
